@charset "utf-8";

body {
	
	background: #668cff;
	
	}
	
	h1 {
		
	color: black;
	font-size: 200%;
	font-style: italic;
		
	}
	
	h3 {
	
	font-family: Georgia, serif;
	
	}
	
	p {
		
	color: black;
	
	}


